<div class="profile-container">

  <div class="profile-header align-items-center">

    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, crop: :fill, width: 200, height: 200, class: "avatar-lg" %>
    <% else %>
      <img src="https://avatars1.githubusercontent.com/u/302001?s=88&v=4"
        class="avatar-lg" alt="" width="200">
    <% end %>

    <div class="user-name">
      <h1><%= current_user.name %></h1>
      <p><%= current_user.email %></p>
      <p>Our member since: <%= current_user.created_at.strftime("%d-%m-%Y") %></p>
      <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <%= link_to "Sell something", new_item_path, class: "btn btn-primary mt-5 d-flex justify-content-center" %>

  <div class="transaction-card-container">
    <% @transactions.each do |transaction| %>
    <div class="card-product-transaction">
      <% if transaction.item.photo.attached? %>
      <%= cl_image_tag transaction.item.photo.key %>
      <% end %>
      <div class="card-product-infos-transaction">
        <h2><%= transaction.item.name %></h2>
        <p><%= transaction.item.description %></p>
        <%= link_to "See details", item_path(transaction.item)  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
