<div class="container w-50 bg-light mt-3 py-4 px-5 shadow-sm" style="border-radius: 15px;">
  <% if current_user == @item.user %>
    <div class="container">
    <h2>Edit your item</h2><br>
      <%= simple_form_for @item do |f| %>
        <%= f.input :name %>
        <%= f.input :price, input_html: { type: 'number', min: '1', step: '1' } %>
        <%= f.input :description %>
        <%= f.association :category %>
        <%= f.input :photo, as: :file %>
        <div class="d-flex justify-content-between">
          <%= f.submit "Update item", class: "btn btn-warning btn-round" %>
          <%= link_to "Back to item", item_path(@item), class: "btn btn-back-to-shop btn-round" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
