<div class="container text-center pb-3">

  <h2 class="mb-4">What are you buying?</h2>
  <div class="form-group form-inline justify-content-center search-form">
    <%= form_tag items_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a product by name"
    %>
      <% if @items != Item.order('created_at DESC').page(params[:page]).per(9) %>
        <%= link_to items_path, class: "btn btn-x" do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
      <%= submit_tag "Search", class: "btn btn-search" %>
    <% end %>
  </div>

  <% if @items.empty? %>
    <br>
    <p>No results found...</p>
    <br>
    <%= link_to "Back to shop", items_path, class: "btn btn-search" %>
  <% end %>

  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-trip">
        <% if item.photo.attached? %>
          <%= link_to item_path(item) do %>
            <%= cl_image_tag item.photo.key, crop: :fit, width: 359, height: 200 %>
          <% end %>
        <% end %>

        <%= link_to "Buy", item_transactions_path(item),method: :post, class: "btn-absolute" %>

        <div class="card-trip-infos">
          <div>

            <div class="card-info text-left">
              <h2><%= item.name %></h2>
              <%= link_to "Details", item_path(item) %>
            </div>
          </div>
          <div class="card-trip-princing text-right">
            <small class="text-muted"><%= item.category.name %></small>
            <h2>$ <%= item.price %>.00</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>
