<div class="container w-50 py-3">
  <div class="card-product my-2">
    <div class="item-image">
      <% if @item.photo.attached? %>
      <%= cl_image_tag(@item.photo.key, crop: :fit, width: 300) %>
      <% end %>
    </div>
    <div class="card-product-infos">
      <div style="width: 85%; word-wrap: break-word;">
        <h2><%=@item.name%></h2>
        <p class="text-muted mt-2"><%=@item.description%></p>
      </div>
      <h2 class="card-product-pricing">$ <%=@item.price%>.00</h2>
    </div>
  </div>

    <div class="button-links d-flex justify-content-between mt-3">
      <div class="show-buttons">
        <%= link_to "Buy", item_transactions_path(@item), method: :post, class: "btn btn-warning btn-buy btn-round" %>
        <%= link_to "Back to shop", items_path, class: "btn btn-outline-secondary btn-round" %>
      </div>

      <% if current_user == @item.user %>
        <div class="show-buttons">
          <%= link_to "Edit product", edit_item_path(@item), class: "btn btn-outline-info btn-round" %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, item_path(@item), method: :delete, class: "btn btn-dark btn-round" %>
        </div>
      <% end %>
    </div>

</div>
