<div class="container">
  <h1>Infos about this product</h1>

  <div class="card-product">
    <div class="item-image">
      <% if @item.photo.attached? %>
      <%= cl_image_tag(@item.photo.key, crop: :fit, width: 300) %>
      <% end %>
    </div>
    <div class="card-product-infos">
      <div>
        <h2><%=@item.name%></h2>
        <p><%=@item.description%></p>
      </div>
      <h2 class="card-product-pricing"><%=@item.price%></h2>
    </div>
  </div>

  <% if current_user.role == "buyer" %>
    <div class="button-links d-flex justify-content-between mt-3">
      <%= link_to "Buy", item_transactions_path(@item), method: :post, class: "btn btn-success" %>
      <%= link_to "Back to shop", items_path, class: "btn btn-secondary" %>
    </div>
  <% end %>

    </div>
</div>
